#
# {{ ansible_managed }}
#

[Unit]
Description=LibreTuya Dashboard
After=network-online.target

[Service]
Type=simple
User=libretuya
Group=libretuya
Environment="ESPHOME_DASHBOARD_USE_PING=true"
Environment="PATH={{ libretuya_install_dir }}/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin"
WorkingDirectory={{ libretuya_install_dir }}
ExecStart={{ libretuya_install_dir }}/bin/esphome dashboard --socket {{ libretuya_run_directory }}/libretuya.sock --username {{ libretuya_username }} --password {{ libretuya_password }} {{ libretuya_configuration_dir }}

[Install]
WantedBy=multi-user.target
