#
# {{ ansible_managed }}
#

server {
    listen 80;
    listen [::]:80;

    server_name {{ ansible_hostname }} {{ ansible_fqdn }};
    return 301 https://{{ ansible_fqdn }}$request_uri;
}

server {
    server_name {{ ansible_fqdn }};

    ssl_certificate     /etc/ssl/nginx/{{ ansible_fqdn }}.crt;
    ssl_certificate_key /etc/ssl/nginx/{{ ansible_fqdn }}.key;

    access_log	/var/log/nginx/{{ ansible_hostname }}.access.log;
    error_log	/var/log/nginx/{{ ansible_hostname }}.error.log;

    include /etc/nginx/include/ssl_settings.conf;
    include {{ libretuya_nginx_configuration_dir }}/locations.conf;
}

include {{ libretuya_nginx_configuration_dir }}/upstream.conf;
