<?xml version="1.0" encoding="utf-8"?>
<!-- {{ ansible_managed }} -->
<service>
    <short>nginx-node-exporter</short>
    <description>Exporter for NGINX metrics</description>
    <port port="9113" protocol="tcp"/>
</service>
