#!/usr/bin/env bash
#
# {{ ansible_managed }}
#

set -e

version=$1

echo "** Moving vmlinuz-${version} to {{ gentoo_kernel_efi_directory }}/"
mv --verbose "/boot/vmlinuz-${version}" {{ gentoo_kernel_efi_directory }}/

echo "** Moving initramfs-${version}.img to {{ gentoo_kernel_efi_directory }}/"
mv --verbose "/boot/initramfs-${version}.img" {{ gentoo_kernel_efi_directory }}/

echo "** Removing System.map-${version}"
rm --verbose "/boot/System.map-${version}"

echo "** Removing config-${version}"
rm --verbose "/boot/config-${version}"
