## File systems
# CONFIG_AUTOFS4_FS is not set
# CONFIG_EXT4_FS is not set
# CONFIG_GFS2_FS is not set
# CONFIG_JFS_FS is not set
# CONFIG_NILFS2_FS is not set
# CONFIG_OCFS2_FS is not set
# CONFIG_REISERFS_FS is not set
# CONFIG_XFS_FS is not set
# CONFIG_ZONEFS_FS is not set
## DOS/FAT/EXFAT/NT Filesystems
# CONFIG_FAT_KUNIT_TEST is not set
# CONFIG_NTFS3_FS is not set
## DOS/FAT/EXFAT/NTFS
# CONFIG_MSDOS_FS is not set
CONFIG_FAT_DEFAULT_UTF8=y
## Miscellaneous filesystems
# CONFIG_AFFS_FS is not set
# CONFIG_BEFS_FS is not set
# CONFIG_ECRYPT_FS is not set
# CONFIG_EROFS_FS is not set
# CONFIG_HFS_FS is not set
# CONFIG_HFSPLUS_FS is not set
# CONFIG_JFFS2_FS is not set
# CONFIG_MINIX_FS is not set
# CONFIG_ORANGEFS_FS is not set
# CONFIG_SQUASHFS is not set
# CONFIG_SYSV_FS is not set
# CONFIG_UBIFS_FS is not set
# CONFIG_UFS_FS is not set
## Network File Systems
# CONFIG_AFS_FS is not set
# CONFIG_CIFS is not set
# CONFIG_CODA_FS is not set
# CONFIG_NFS_V3 is not set
