$TTL 3600       ; 1 hour
@ IN SOA hydrogen mailbox (
	2204031936  ; serial
	6H          ; refresh
	1H          ; retry
	5W          ; expire
	1H          ; minimum
)
@   NS  hydrogen

$INCLUDE /var/bind/pri/home.arpa.zone
