CONFIG_GENTOO_KERNEL_SELF_PROTECTION=y
# CONFIG_PROC_KCORE is not set
# CONFIG_KEXEC is not set
# CONFIG_HIBERNATION is not set
# CONFIG_X86_X32_ABI is not set
# CONFIG_MODIFY_LDT_SYSCALL is not set
# CONFIG_IOMMU_DEFAULT_DMA_LAZY is not set
CONFIG_IOMMU_DEFAULT_DMA_STRICT=y
# CONFIG_RANDSTRUCT_NONE is not set
CONFIG_RANDSTRUCT_PERFORMANCE=y
CONFIG_RANDSTRUCT=y
CONFIG_GCC_PLUGIN_RANDSTRUCT=y
CONFIG_GENTOO_KERNEL_SELF_PROTECTION_COMMON=y
# CONFIG_X86_MSR is not set
GENTOO_KERNEL_SELF_PROTECTION_X86_64=y
CONFIG_GENTOO_KERNEL_SELF_PROTECTION_X86_64=y
