## Device Drivers
# CONFIG_ACCESSIBILITY is not set
# CONFIG_PCCARD is not set
# CONFIG_PARPORT is not set
# CONFIG_FIREWIRE is not set
# CONFIG_FIREWIRE_NOSY is not set
# CONFIG_GNSS is not set
# CONFIG_HYPERV is not set
# CONFIG_INFINIBAND is not set
# CONFIG_MACINTOSH_DRIVERS is not set
## PCI SUPPORT
# CONFIG_PCIEAER_INJECT is not set
# CONFIG_XEN_PCIDEV_FRONTEND is not set
## Firmware Drivers
# CONFIG_EDD is not set
CONFIG_SYSFB_SIMPLEFB=y
## EFI (Extensible Firmware Interface) Support
# CONFIG_EFI_TEST is not set
## MISC
# CONFIG_APDS9802ALS is not set
# CONFIG_BCM_VK is not set
# CONFIG_DW_XDATA_PCIE is not set
# CONFIG_ECHO is not set
# CONFIG_ENCLOSURE_SERVICES is not set
# CONFIG_GP_PCI1XXXX is not set
# CONFIG_HP_ILO is not set
# CONFIG_IBM_ASM is not set
# CONFIG_ISL29003 is not set
# CONFIG_ISL29020 is not set
# CONFIG_MISC_ALCOR_PCI is not set
# CONFIG_MISC_RTSX_PCI is not set
# CONFIG_MISC_RTSX_USB is not set
# CONFIG_SENSORS_APDS990X is not set
# CONFIG_SENSORS_BH1770 is not set
# CONFIG_SENSORS_LIS3_I2C is not set
# CONFIG_SENSORS_TSL2550 is not set
# CONFIG_TIFM_7XX1 is not set
# CONFIG_UACCE is not set
# CONFIG_VMWARE_BALLOON is not set
# CONFIG_VMWARE_VMCI is not set
## SCSI device support
# CONFIG_CHR_DEV_SCH is not set
# CONFIG_CHR_DEV_ST is not set
# CONFIG_SCSI_CONSTANTS is not set
# CONFIG_SCSI_ENCLOSURE is not set
# CONFIG_SCSI_LOGGING is not set
# CONFIG_SCSI_PROC_FS is not set
# CONFIG_SCSI_SCAN_ASYNC is not set
# SCSI_LOWLEVEL is not set
# CONFIG_SCSI_DH is not set
## Input device support
# CONFIG_INPUT_JOYSTICK is not set
# CONFIG_INPUT_MISC is not set
# CONFIG_INPUT_TABLET is not set
# CONFIG_INPUT_TOUCHSCREEN is not set
