#
# {{ ansible_managed }}
#

[Unit]
Description=Home Assistant
After=network-online.target
PartOf=homeassistant-update.service

[Service]
Type=simple
ExecStart={{ homeassistant_install_dir }}/bin/hass --config /etc/homeassistant --log-file {{ homeassistant_log_dir }}/homeassistant.log
User=homeassistant
Group=homeassistant
Environment="PATH={{ homeassistant_install_dir }}/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin:/opt/bin"
WorkingDirectory={{ homeassistant_install_dir }}
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target
