#
# {{ ansible_managed }}
#

server {
    listen 80;
    listen [::]:80;

    server_name homeassistant homeassistant.home.arpa;
    return 301 https://homeassistant.home.arpa$request_uri;
}

server {
    server_name homeassistant.home.arpa;

    ssl_certificate     /etc/ssl/nginx/homeassistant.home.arpa.crt;
    ssl_certificate_key /etc/ssl/nginx/homeassistant.home.arpa.key;

    access_log	/var/log/nginx/homeassistant.access.log;
    error_log	/var/log/nginx/homeassistant.error.log;

    include /etc/nginx/include/ssl_settings.conf;
    include {{ homeassistant_nginx_configuration_dir }}/locations.conf;
}

include {{ homeassistant_nginx_configuration_dir }}/upstream.conf;
