<?xml version="1.0" encoding="utf-8"?>
<!-- {{ ansible_managed }} -->
<service>
    <short>node-exporter</short>
    <description>Exporter for hardware and OS metrics exposed by *NIX kernels</description>
    <port port="9100" protocol="tcp"/>
</service>
